:host {
  display: block;
  background: var(--gray-light);
  min-height: 100vh;
}

.novo-lancamento {

  &__action{
    position: absolute;
    // bottom: -60px;
    right: 41px;
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: -25px;
    right: 20px;
  }

  &__page {
    padding: 2rem;
    display: grid;
    gap: 1.5rem;
  }

  &__contabil {
    border: none;
  }

  &__card {
    background: var(--white);
    border-radius: 8px;
    padding: 1.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Para tornar responsivo */
    gap: 1rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  &__field-label {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 16px;
  }

  &__field-input,
  select,
  textarea {
    padding: 0.65rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: var(--primary);
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

    &--invalid {
      border-color: var(--red);
    }
  }

  &__radios-options {
    display: flex;
    gap: 1rem;
    align-items: center;

    label {
      display: flex;
      gap: 0.5rem;
      font-size: 1rem;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }

  &__btn {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

    &--primary {
      background: var(--primary);
      color: var(--white);
      border: none;
    }

    &--secondary {
      background: var(--white);
      border: 1px solid var(--gray-light);
    }
  }

  &__grid--actions {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .novo-lancamento__grid {
    grid-template-columns: 1fr;
  }

  .novo-lancamento__actions {
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }


}


mat-error{
  color: var(--red);
    font-size: 0.875rem;
    margin-top: 0.25rem
}
fieldset.novo-lancamento__field.novo-lancamento__radios {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  border: none;
  padding: 0 16px;
}

.date-picker__input[_ngcontent-ng-c3093061779] {
  border: 1px solid var(--black);
  font-size: 1rem;
  transition: border-color 0.2s;
  padding: 16px;
  border-radius: 0;
}
