<section class="balance__cards">
  <app-summary-card
    title="Total de Débitos"
    [value]="totalDebitos()"
    icon="trending_down"
    iconColor="#E53935"
    iconAriaLabel="Indicador de queda">
  </app-summary-card>

  <app-summary-card
    title="Total de Crédito"
    [value]="totalCreditos()"
    icon="trending_up"
    iconColor="#43A047"
    iconAriaLabel="Indicador de crescimento">
  </app-summary-card>

  <app-summary-card
    title="Saldo"
    [value]="saldo()"
    icon="paid"
    iconColor="#00afef"
    iconAriaLabel="Saldo Total">
  </app-summary-card>

  <app-summary-card
    title="Quantidade de Transações"
    [value]="quantidade()"
    icon="compare_arrows"
    [iconColor]="'#43A047'"
    [isCurrency]="false"
    iconAriaLabel="Indicador de crescimento">
  </app-summary-card>
</section>
