.balance {
  width: 100%;
  height: 250px;

  &__cards {
    background-color:var(--gray-light);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
  }
}
