.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  gap: 0.5rem;
  z-index: 1;

  padding: 0.5rem 0.8rem;
  border-radius: 0.375rem;
  border: none;

  font: inherit;
  font-weight: 500;

  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  transition: background-color 0.3s ease;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover:not(:disabled) {
    background-color: var(--secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:active:focus:not(:disabled) {
    transform: translateY(2px);
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &__icon {
    font-size: 1.125rem;
    line-height: 1;
  }
}
