.date-picker {
  width: 20rem;
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  &__input {
    border: 1px solid var(--black);
    transition: border-color 0.2s;
    padding: 16px;
    border-radius: 0;
    font-size: 1rem;
    transition: border-color 0.2s;

    &:focus {
      outline: none;
      border-color: var(--primary);
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

    &--invalid {
      border-color: var(--red);
    }
  }

  &__error {
    color: var(--red);
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}
