.summary-card {
  min-width: 294px;
  max-width: 320px;
  height: 130px;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  margin: 8px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  transition: transform 0.3s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__content {
    margin-top: 0.75rem;
  }

  &__value {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }
}
