:root {
  --primary: #00afef;
  --secondary: #00bc7d;

  --black: #000;
  --white: #fff;
  --gray: #a9a9a9;
  --gray-light: #d9d9d9;
  --red: #ec003f;
  --green: #2fe816;
  --green-dark: #00897b;
  --orange: #b27b03;
}
