.status-badge {
  display: inline-flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.status-badge__pill {
  display: inline-flex;
  align-items: center;

  min-width: 110px;
  padding-left: 5px;

  background-color: var(--white);
  border: 1.5px solid;
  border-radius: 25px;

  font-size: 0.8rem;
  font-weight: 600;
  user-select: none;
}

.status-badge__icon {
  font-size: 1rem;
  line-height: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.status-badge__text {
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

td.mdc-data-table__row {
  border: none;
}
